/* General styles */
h1 {
    color: #CC33FF;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #CC33FF;
    padding-left: 10px;
    margin-left: 20px;
}

/* About section layout */
.about-section {
    display: flex;
    margin: 20px;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.right-column {
    flex: 2;
    padding-left: 20px;
}

.headshot {
    width: 100%;
    border-radius: 10px;
}

.left-column h2 {
    margin-top: 10px;
    color: #333;
}

.left-column h4 {
    color: #777;
    font-style: italic;
}
